<ng-container *ngIf="ProdArr.length;else noproduct">
  <div class="row">
    <div class="col-md-12 mb-3 text-right">
      <button mat-raised-button color="primary" routerLink="add">
        Add Product
      </button>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li
          (click)="OnSelct(prod)"
          [ngClass]="{
            active: prod.PId === selectId
          }"
          [queryParams]="{canReturn:prod.canReturn}"
          *ngFor="let prod of ProdArr"
          [routerLink]="prod.PId"
          class="list-group-item"
        >
          {{ prod.pName }}
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
  
</ng-container>
<ng-template #noproduct>
  <p class="alert alert-info alert-sm">
    Product Is Not Available 
  </p>
</ng-template>